@charset "utf-8"; /*utf-8の場合*/
body {
	color:#333;
	line-height: 1.4em;
	font-size:0.9em;
	background-color: #ffffff;
	margin-top: 1%;
	margin-left: 2%;
	margin-bottom: 1%;
	margin-right: 2%;
}
#calendar {
  background-color:#C1E0FF;
  width           :100%;
}

#calendar.detail{
  width           :80%;
}

#calendar.detail th{
    width     :20%;
}
#calendar.detail td{
    width     :80%;
}

#calendar td{
  width     :8%;
	background-color: #ffffe0;
}
#calendar th{
  width     :8%;
}

.weekday {
  text-align: center;
}
.sunday {
  color: #FF0000;
}
.saturday{
  color: #0000CC;
}
.footer div{
	display: inline-block;
	width: 49%;
}
.footer .leftside{
	text-align: left;
}
