<!DOCTYPE html>
<html>
<head><title>pict</title></head>
<link rel="stylesheet" type="text/css" media="screen" href="./css/opencv_test.css" />
<script type="text/javascript">
</script>
<body>
  <div class="main">
    <h1>画像送信</h1>
    <div class="input">
      <h2>抽出後</h2>
      <form action="#" method="post" name="file_send" enctype="multipart/form-data">
        <input type="file" name="targ_file"/>
        <input type="submit" value="解析">
        <input type="reset" value="リセット">
        <input type="button" value="テスト" onclick="doubleHistory();">
      </form>
    </div>
    <h2>抽出後</h2>
      {% if dictkeys.method != '' %}
      <li>{{ dictkeys.method }}</li>
      {% endif %}
      {% for val in dictval %}
      <h3>{{ val.key }}</h3>
      <pre>{{ val.val }}</pre>
      {% endfor %}
      {% if changetxt != '' %}
      <pre>{{ changetxt }}</pre>
      {% endif %}
  </div>
</body>
</html>
